* {
    box-sizing: border-box;
}


.GameHomeColors
{    font-family: "Fjalla One", sans-serif;
    padding: 10px;
    background: yellow;/*outline*/
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 90px;
    margin-left: 90px;
    background-color:#89A6D6;

}
.AboutUs
{    font-family: "Fjalla One", sans-serif;
    padding: 10px;
    background: grey;/*whole background*/
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 90px;
    margin-left: 90px;
    background-color: #89A6D6;
}
.BeeInfo
{    font-family: "Fjalla One", sans-serif;
    padding: 10px;
    background: #EAE1E7;/*whole background*/
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 90px;
    margin-left: 90px;
    background-color: #345995;
}

/*  Title */
.header {
  padding: 15px;
  text-align: center;
  background: #FFDF6C;/*top text box*/

  font-size: 20px;
}
.fakeimg {
    background-color:#FFFFFF;/*bottom text box*/
    width: 100%;
    padding: 20px;}

.header h1 {
  font-size: 70px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:#FFDF6C;//blue
}

/* Style the topnav links */
.topnav a {
  float: left;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #FFFFFF;
  color:grey; //blue
}




/* Add a card effect for articles */
.card {
    background-color:#89A6D6;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
 /*
 Footer
  .footer {
    padding: 20px;
    text-align: center;
    background: #FCF5C7;//yellow
    margin-top: 20px;  */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
